.popup {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  opacity: 2;
  width: 218px;
  height: 266px;
  padding: 26px 36px 57px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  top: 51px;
  right: 20px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease s;

  &_open {
    visibility: visible;
    opacity: 1;
    z-index: 21;
  }

  &__close {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
}
