@import '../../styles/mixins';
@import '../../styles/vars';

.profile{
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  padding-left: 136px;
  background-color:rgba(24, 38, 64, 0.60);
  justify-content: center;
  align-items: center;
  display: flex;
  visibility: hidden;
  transition: all 0.5s ease 0.5s;

  &_opened {
    left: 0;
    visibility: visible;
    opacity: 10;
  }
}

.container {
  width: 100%;
  height: 100%;
  padding: 40px 20px;
  background-color: #FFF;
}

.sheet {
  width: 313px;
  background-color: #f9fafb;
  border-radius: 12px;
  padding: 20px 20px;
  border: '1px solid red';

  &__input {
    width: 126px;
  }
}

.sheet label {
  color: #797981;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; 
}

.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.formRow {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
