.constrolesInput {
  padding: 0 20px;

  &__leble {
    padding: 0;
    margin: 0;
    margin-bottom: 4px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
  }

  &__input {
    display: flex;
    gap: 16px;
  }
}
