.table {
  padding: 16px 20px 0;

  &__text {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  &__cell{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
  }
}

a {
  text-decoration: none;
  color: #5A9BFF;
}

.positive {
  background-color: #C2E5CE;
}

.negative {
  background-color: rgba(169, 145, 117, 0.26);
}

.undefined {
  background-color: rgba(169, 145, 117, 0.26);
}


