.table {
  max-width: 1330px;
  overflow: scroll;
}

.budget {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.heading {
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  /* scroll-padding-top: 350px; */
  width: 1px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
