body {
  margin: 0;
  height: 100%;
  font-family: 'YS Display', Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #1a1b22;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
